html{
    box-sizing: border-box;
}

*,*::before,*::after{
    box-sizing: inherit;

}

body{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a{
    margin: 0;
    text-decoration: none;
    font-size: 18px;  
    color: #E5E7EB;
    font-family: Roboto ;
}

p{
    color: #E5E7EB;
    margin: 0px;
}

.header, .description, .footer{
    padding: 8px;
    background-color: #1F2937;
    display: flex;
}

/* HEADER */

.header{
    justify-content: space-evenly;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center; 
    gap: 8px;
}

.logo .text{
    font-weight: 700;
    font-size: 24px;
    color: white;
}

.header ul{
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}

.header img{
    width: 48px;
    border-radius: 20%;
}

/* DESCRIPTION */

.description{
    display: flex;
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 16px;
}

.description-melly{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 500px;
    gap: 18px;
}

.hero{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-desc{
    font-size: 18px;
}

.see-more{
    width: 120px;
    border-radius: 8px;
    padding: 8px;
    background-color: #3882F6;
    color: #F9FAF8 ;
    font-weight: 700;
    border: 0;
}

.description img{
    width: 500px;
    height: 350px;
    border-radius: 20px;
}

/* Information Header */
.information{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pict-melly{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    font-family: Roboto;
}

/* Content */
.content{
    display: flex;
    gap: 48px;
    justify-content: center;
}

.content-melly{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 200px;
    gap: 16px;
    border: #3882F6;
    border: 20px;
}

.content-melly img{
    width: 200px;
    border-radius: 8px;
    outline: 4px solid #3882F6;
}

.content-melly p{
    text-align: center;
    font-family: Roboto;
    color: #1F2937;
    font-size: 16px;
    
}

/* Insipiring quote: */

.inspiring-quote{
    display: flex;
    margin-top: 148px;
    justify-content: center;
    background-color: #E5E7EB;
    align-items: center;
}

.quote{
    max-width: 600px;
    padding: 48px;
    padding-top: 88px;
}

.big-quote{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.author-quote{
    font-size: 24px;
    color: #1F2937;
    font-weight: 300;
    text-align: end;
}

/* Banner (love for melly) */

.love-for-melly{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px;
}

.banner{
    background-color: #3882F6;
    display: flex;
    width: 800px;
    padding: 12px;
    justify-content: space-around;
    padding-top: 48px;
    padding-bottom: 48px;
    border-radius: 32px;
}



.show-love-button{
    background-color: #3882F6;
    border: 0;
    outline: 2px solid white;
    border-radius: 12px;
    color: #E5E7EB;
    font-weight: 700;
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
}

.big-love{
    font-family: Roboto;
    font-size: 24px;
}

.small-love{
    font-size: 14px;
    font-family: Roboto;
}

/* Footer */
.footer{
    justify-content: center;
    padding: 32px;

}

.footer p{
    font-family: Roboto;
    font-weight: 700;
}